MAIL_N8N_WEBHOOK_URL= "https://api.agents.snsihub.ai/webhook-test/b00d7857-5481-4bf9-9990-9cbc0c06aaf1"
DRIVE_N8N_WEBHOOK_URL= "https://api.agents.snsihub.ai/webhook-test/cc193694-f9ad-4f68-ac21-3d9dc24dbf4e"
CALENDAR_N8N_WEBHOOK_URL= "https://api.agents.snsihub.ai/webhook-test/0ef473b3-b3d5-4035-99dc-35de7bbaa76f"
N8N_TIMEOUT_SECONDS=59
